        html {
            background-color: black;
        }
        
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        nav {
            background-color: grey;
            width: 100vw;
            justify-content: center;
        }
        
        .item {
            width: 50px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        main {
            background-color: whitesmoke;
            width: 100vw;
            justify-content: center;
        }
        
        form {
            text-align: center;
            display: flex;
            justify-content: space-between;
        }